/** General display rules **/
.block_exam_actions .block_tree {margin:5px;padding-left:0px;overflow:visible;}
.block_exam_actions .block_tree li {margin:3px;list-style: none;padding:0;}
.block_exam_actions .block_tree li.item_with_icon > p {position:relative; padding-left: 21px;}
.block_exam_actions .block_tree li.item_with_icon > p img,
.block_exam_actions .block_tree .type_activity > p.tree_item.active_tree_node img,
.block_exam_actions .block_tree li > p.hasicon img {vertical-align:middle;position:absolute;left:0;top:-1px;width:16px;height:16px;}
.block_exam_actions .block_tree li.item_with_icon.contains_branch > p img {left:16px;}
.block_exam_actions .block_tree .type_activity > p.branch.hasicon,
.block_exam_actions .block_tree .type_activity > p.emptybranch.hasicon,
.block_exam_actions .block_tree li.item_with_icon.contains_branch > .tree_item {padding-left:37px;}

.block_exam_actions .block_tree li ul {padding-left:0;margin:0;}
.block_exam_actions .block_tree li.depth_2 ul {padding-left:16px;margin:0;}

.block_exam_actions .computer_released {color: DarkGreen;}

.student_table .kept {color: Gray;}
.student_table .enrolled {color: DarkGreen;}
.student_table .unenrolled {color: Red;}

/* CSS Tree menu styles */
.remote_courses ol.tree {
	padding: 0 0 0 30px;
	width: 90%;
}
.remote_courses li {
    position: relative;
    margin-left: -15px;
    list-style: none;
}
.remote_courses li.course {
    margin-left: -1px !important;
}
.remote_courses li.course a {
    padding-left: 5px;
    text-decoration: none;
    display: inline;
}
.remote_courses .identifier {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.remote_courses li input {
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
}
.remote_courses li input + ol {
    background: url("../blocks/exam_actions/images/toggle-small-expand.png") 40px 0 no-repeat;
    margin: -0.938em 0 0 -44px; /* 15px */
    height: 1em;
}
.remote_courses li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
.remote_courses li label {
    background: url("../blocks/exam_actions/images/folder-horizontal.png") 15px 1px no-repeat;
    cursor: pointer;
    display: block;
    padding-left: 37px;
}
.remote_courses li input:checked + ol {
    background: url("../blocks/exam_actions/images/toggle-small.png") 40px 5px no-repeat;
    margin: -1.25em 0 0 -44px; /* 20px */
    padding: 1.563em 0 0 80px;
    height: auto;
}
.remote_courses li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
.remote_courses li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }
